{{ block "hello" . }}
<!DOCTYPE html>
<html>

<head>
  <title>Go Forum</title>
  <link rel="stylesheet" , href="/style.css">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  {{ template "header" . }}
</body>

</html>
{{ end }}

{{ block "header" . }}
<div id="header">
  <span class="title">Go Forum</span>
  {{ if . }}

  {{ else }}
  <div id="buttons">
    <a href="/login" class="button">login</a>
    <a href="/register" class="button">register</a>
  </div>
  {{ end }}
</div>
{{ end }}
